<div class="card text-center" style="width:65%; margin:5px auto">

        <div class="card-header">
            <h5>{{pageTitle}}</h5>
        </div>

        <div class="card-block">
            <br>
            <div class="text-center">
                <img src="../../../assets/images/imagen_portada.jpg" class="rounded" style="max-width: 100%; max-height: 270px;padding-bottom: 10px;"/>
                <h5 class="card-title">Developed by:</h5>
                <h4 class="card-title">ANGULAR TEAM:</h4>
                <h5 class="card-title">@teammanager</h5>
                <h6>&copy;ANGULAR TEAM - All Right Reserver since 2021</h6>
            </div>
            <div class="text-center inline input-group-sm form-group">
            </div>
            <button type="button" class="btn btn-primary" style="cursor:pointer" [routerLink]="['/login']"
             autofocus>Iniciar Sesión</button>
        </div>
</div>